{% extends 'card/base.html' %}

{% block content %}
    <div class="post">
        <h1 class = "download">
            Здравствуйте!
        </h1>
        <h3 class="imgE">Этот сайт нужен для того чтобы скачать приложение ниже. В этом приложении Вы можете создать свою собственную открытку!</h3>

        <div class="center">
            <div class="imgE">
                <img src="static/img/ex1.png">
            </div >
            
            <div class="imgE">
                <img src="static/img/ex2.png">
            </div>

            <div class="imgE">
                <img src="static/img/ex3.png">
            </div>

            <div class="pE">
                <p>Желаете скачать?</p>
                <p><a download="drawing_exe.rar" href="Card/static/app/draw/drawing_exe.rar">Кликните по этой ссылке чтобы скачать приложение</a></p>
            </div>
        </div>
        
        
    </div>
{% endblock %}